.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.prevButton,
.nextButton {
  background: var(--primary-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.05s ease;
    margin: 0 1rem;
}

.prevButton,
.nextButton:hover {
  background: #005bb5; /* Un tono más oscuro para el hover */
}



.prevButton:active {
  background: #003a74; /* Un tono más oscuro para el hover */
}

.nextButton:active {
  background: #003a74; /* Un tono más oscuro para el hover */
}
.disabledButton:hover {
    background-color: var(--primary-color);
    cursor: default;
  }
  

button:disabled {
  opacity: 0.5;
  background: grey;
  cursor: not-allowed;
}


.pageButton {
  background: var(--primary-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}
.pageItem {
  border-radius: 6px;
  transition: background 0.3s ease;
}

.activeItem {
  background-color:  #4a9efe; /* Fondo claro para destacar el li */
  color: #333;
}

.pageButton {
  background: var(--primary-color);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.activeButton {
  background: #333; /* O un color más oscuro para el botón activo */
}
