:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--bg-color: white;
	--text-color: black;
	--border-color: black;
	--primary-color: #0070f3;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dark {
	--bg-color: #121212;
	--text-color: white;
	--border-color: white;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}
