@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.dark {
	--bg-color: #1e2939;
	--text-color: white;
	--border-color: white;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}
